header {
  background-color: $offwhite;
}

body {
  background-color: $grey;
}

main {
  max-width: 1300px;
  margin: 0 auto;
}

h1 {
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.main {
  color: $pinkish !important;
}
