.boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  margin: 2rem 1rem;
  grid-gap: 2rem;
  justify-content: center;

  &__item {
    border-radius: 15px;
    background: #f4f3ee;
    border: none;
    position: relative;
    padding-top: 100%;

    &--border {
      @extend .boxes__item;
      border: 2px solid #c32c72;
      background: #fff;
    }

    &--fil {
      @extend .boxes__item;
      border: 2px solid #fff;
      background: #c32c72;
    }
  }
}
